<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>space</title>
</head>
<body>
    <h1>Welcome admin  </h1>
    <p><a href="/admin/space/logout">Se déconnecter</a></p>
</body>
</html>