<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>space</title>
</head>

<body>
    <h1>Welcome admin </h1>
    <p><a href="/admin/space/logout">Se déconnecter</a></p>
    <div>
        Ajouter un étudiant
        <form action="space/create/etudiant" method="post">
            <label for="nom">Nom</label>
            <input type="text" name="nom">
            <br>
            <label for="prenom">Prénom</label>
            <input type="text" name="prenom">
            <br>
            <label for="login">Login</label>
            <input type="text" name="login">
            <br>
            <label for="motpasse">Password</label>
            <input type="password" name="motpasse">
            <br>
            <label for="filiere">Filière</label>
            <input type="text" name="filiereId">
            <br>
            <input type="submit" value="Ajouter un étudiant">
        </form>
    </div>
    
    <div>
        Ajouter un enseignant
        <form action="space/create/enseignant" method="post">
            <label for="nom">Nom</label>
            <input type="text" name="nom">
            <br>
            <label for="prenom">Prénom</label>
            <input type="text" name="prenom">
            <br>
            <label for="login">Login</label>
            <input type="text" name="login">
            <br>
            <label for="motpasse">Password</label>
            <input type="password" name="motpasse">
            <br>
            <label for="Module">Module</label>
            <input type="number" name="module">
            <br>
            <input type="submit" value="Ajouter un enseignant">
        </form>
    </div>
</body>

</html>