<!DOCTYPE html>
<html lang="fr">
  <head>
    <title></title>
    <link rel='stylesheet' href='../public/css/style.css' />
  </head>
  <body>
    <h1>Hello World</h1>
    <p></p>
    <form action="/" method="post">
      
    </form>
  </body>
</html>
