body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

input[type=submit]{
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}