<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>space</title>
</head>
<body>
    <h1>Welcome etudiant</h1>
    <a href="/etudiant/space/logout">Se déconnecter</a>
</body>
</html>